<div class=" mt-4 ml-2">
  <h3>Contacts</h3>
  <div class="cards">
    <div class="card-block">
      <span>Address:</span>
      <p>Karla-Marksa str. 63</p>
    </div>
    <div class="card-block">
      <span>Email:</span>
      <p>webtest@mail.ru</p>
    </div>
    <div class="card-block">
      <span>Tel:</span>
      <p>+996 555 50 50 50</p>
      <p>+996 555 20 20 20</p>
    </div>
  </div>
</div>


