<div class="row mt-2">
  <div class="col">
    <h4>Post details</h4>
    <div class="card" *ngIf="post">
      <div class="card-header">
        Created on: {{ post.dateOfCreate }}
      </div>
      <div class="card-body">
        <h5 class="card-title">{{ post.title }}</h5>
        <p class="card-text">{{ post.description }}</p>

        <hr/>

        <p>Change post:</p>
        <button class="btn btn-secondary" [routerLink]="['/posts/', postId, 'edit']">Edit</button>&nbsp;
        <button class="btn btn-danger" (click)="deletePost()">Delete</button>
      </div>
    </div>
  </div>
</div>
