<h4>Posts</h4>

<div class="card" *ngFor="let post of posts">
  <div class="card-header">
    Created on: {{ post.dateOfCreate }}
  </div>
  <div class="card-body">
    <h5 class="card-title">{{ post.title }}</h5>
    <a class="btn btn-primary" [routerLink]="['/posts/', post.id]">Read more >> </a>
  </div>
</div>
